div {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   width: 25vw; 
   position: relative;
   background-color: antiquewhite;
   padding: 2rem;
   font-size: large;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bolder;
   border-radius: 10px;
   margin: auto;
   transition: all 0.5s ease-in-out;
}

img {
    border-radius: 10px;
}

.btn {
    position: absolute;
    top: 40vh;
    padding: 6px 40px 6px 40px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: rgba(196, 186, 186, 0.493);
    transition: all 0.5s ease-in-out;
    font-size: large;
}

.btn:hover {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.671);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}